*{
    padding: 0;
    margin:0;
    transition:background 0.5s ;
}


.top-nav ul li{
    list-style: none;
    /*height:50px;*/
    display:list-item;
}
.top-nav ul li a{
    text-decoration: none;
    display: block;
    font-size: 1.3em;
    padding:1em;
    text-align: right;
    color: white;;
}
.top-nav ul li a:hover{
    background:#23aeac;
}
.active{
    background: #23aeac;
}

.top-nav ul li  .black{
    background:#30383c;
}
.top-nav ul li  .black1{
    background: rgb(51,58,62);
    background: -moz-linear-gradient(top,  rgba(51,58,62,1) 0%, rgba(46,54,58,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,58,62,1)), color-stop(100%,rgba(46,54,58,1)));
    background: -webkit-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: -o-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: -ms-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: linear-gradient(to bottom,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
}
.top-nav ul li  .black2{
    background: rgb(51,59,62);
    background: -moz-linear-gradient(top,  rgba(51,59,62,1) 0%, rgba(46,54,58,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,59,62,1)), color-stop(100%,rgba(46,54,58,1)));
    background: -webkit-linear-gradient(top,  rgba(51,59,62,1) 0%,rgba(46,54,58,1) 100%);
    background: -o-linear-gradient(top,  rgba(51,59,62,1) 0%,rgba(46,54,58,1) 100%);
    background: -ms-linear-gradient(top,  rgba(51,59,62,1) 0%,rgba(46,54,58,1) 100%);
    background: linear-gradient(to bottom,  rgba(51,59,62,1) 0%,rgba(46,54,58,1) 100%);
}
.top-nav ul li  .black3{
    background: rgb(51,58,62);
    background: -moz-linear-gradient(top,  rgba(51,58,62,1) 0%, rgba(46,54,58,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,58,62,1)), color-stop(100%,rgba(46,54,58,1)));
    background: -webkit-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: -o-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: -ms-linear-gradient(top,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: linear-gradient(to bottom,  rgba(51,58,62,1) 0%,rgba(46,54,58,1) 100%);
}
.top-nav ul li  .black4{
    background: rgb(50,58,62);
    background: -moz-linear-gradient(top,  rgba(50,58,62,1) 0%, rgba(46,54,58,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,58,62,1)), color-stop(100%,rgba(46,54,58,1)));
    background: -webkit-linear-gradient(top,  rgba(50,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: -o-linear-gradient(top,  rgba(50,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: -ms-linear-gradient(top,  rgba(50,58,62,1) 0%,rgba(46,54,58,1) 100%);
    background: linear-gradient(to bottom,  rgba(50,58,62,1) 0%,rgba(46,54,58,1) 100%);
}

.header-left{
    width:20%;
    /*float:left;*/
    background:#242b2e;
    min-height: 972px;
    position: fixed;
}
/*.header-left:after{*/

    /*clear: both;*/

/*}*/
.logo{
    background:white;
    /*padding:2em;*/
    /*text-align: center;*/
}

.header-top{
    max-width: 90%;
    padding:1em 5%;
    vertical-align: baseline;
    display: none;
}
.header-top:after{
    content: '';
    clear: both;
    display: block;
}
.logo-in{
    text-align: center;
    float: left;
}
.logo-in img{
    height:170px;
}
.top-nav-in{
    vertical-align: baseline;
    float: right;
    height:104px;

}

.top-nav-in .menu{
    vertical-align: baseline;
    display: block;
    margin-top: 50px;
}
.top-nav-in .menu:hover{
    cursor: pointer;
}
.top-nav-in ul li a {
    color: #fff;
    display: block;
    margin: 0;
    background: none;
    border: none;
    padding: 0.6em;
    font-size: 4em;
    text-decoration: none;
}
.top-nav-in ul{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    background: #1ab5b3;
    border: 0;
    margin: 20px 0;
    z-index: 999;
}
ul li{
    display:block;
    width:100%;
    /*line-height: 5em;*/
    text-align: center;
}

.top-nav-in .menu img{
    height:100px;
}
.logo img{
    width:100%;
    margin: auto;
}
.logo img:hover{
    opacity: 0.7;
}
.logo a{
    display: block;
    width:100%;
    font-size: 0;
}
iframe{
    width: 80%;
    /*height: 700px;*/
    margin-left: 20%;
}

@media(max-width:1000px){
    .header-left{
        display: none;
    }
    iframe{
        width: 100%;
        margin: 0;
        /*height: 700px;*/
    }
    .header-top{
        display: block;
        width:100%;
    }
}