* {
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    position: relative;
}

.submit-article {
    position: fixed;
    right: 1em;
    top: 14em;
}

.newArticle {
    background-color: rgb(225, 232, 237);
}
#newArticleForm{
    position: absolute;
    right:-30em;
    transition: right 0.4s;
    border-radius:8px 8px ;
    overflow: hidden;
}
legend{
    background: #82b541;
    text-align: center;
    padding:0.5em;
    color: ghostwhite;
    font-size: 2em;
}

#submiter {
    width: 12em;
    height: 2.5em;
    margin: 0 auto 0.5em auto;
    color: ghostwhite;
    background: #82b541;
    border-radius:8px 8px ;
    border:none;
}
#submiter:hover{
    background-color:#80A24A;
}

.submit-article input, .submit-article textarea, .submit-article button ,.submit-article select{
    display: block;
    margin: 7px;
    font-size: 1.5em;
}

.btn-writeArticle, .btn-writeArticle:link, .btn-writeArticle:visited {
    display: block;
    background-color: rgb(221, 221, 221);
    text-align: center;
    line-height: 1em;
    padding: 0;
    border: 2px gainsboro solid;
    box-shadow: 0 0 6px yellow;
    border-radius: 50% 50%;
    width: 1em;
    height: 1em;
    font-size: 4em;
    color: black;
    margin: 0 1em 0 1em;
}


.btn-writeArticle-warpper {
    transition: right 1s;
    height:5em;
    width:10em;
    position: relative;
    right: -5em;
    margin:0 0 0 auto;
}

.btn-writeArticle-warpper:hover {
    transition: right 1s;
    cursor: pointer;
    right: -2em;
}

a:hover, a:visited, a:link {
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
input,textarea,select{
    border: 1px dimgray solid;
    -webkit-border-radius:3px 3px ;
    -moz-border-radius:3px 3px ;
    border-radius:3px 3px ;
}
h1 {
    font-size: 3em;
}

p {
    letter-spacing: 2px;
    line-height: 1.5em;
}

video {
    width: 100%;
}

a:visited, a:link {
    color: #4C4C4C;
}

.box.box-color-study {
    box-shadow: 3px 3px 3px rgba(53, 167, 251, 0.5);
}

.box.box-color-journal {
    box-shadow: 3px 3px 3px rgba(255, 121, 244, 0.5);
}

.box.box-color-music {
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 0.5);
}

.box.box-color-process {
    box-shadow: 3px 3px 3px rgba(41, 216, 0, 0.5);
}

.box.box-color-study:hover {
    box-shadow: 3px 3px 3px rgba(53, 167, 251, 1);
}

.box.box-color-journal:hover {
    box-shadow: 3px 3px 3px rgba(255, 121, 244, 1);
}

.box.box-color-music:hover {
    box-shadow: 3px 3px 3px rgba(255, 0, 0, 1);
}

.box.box-color-process:hover {
    box-shadow: 3px 3px 3px rgba(41, 216, 0, 1);
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 0 0 0 20px;
}

ul {
    margin: 0;
}

body {
    background-color: #f4f4f4;
    max-width: 1280px;
}

header {
    padding-top: 50px;
    background: linear-gradient(-135deg,#FFFFFF 0,#F4F4F4 20%,#69F26A 60%,#FEFEFE 100%);
}
nav {
    display: inline-block;
    float: right;
}

.wrapper, .container {
    width: 90%;
    margin: auto;
    padding: 0 20px;
}

.wrapper::after {
    content: "";
    clear: both;
}

.logo {
    display: inline-block;
    -webkit-transition: color 0.8s;
    -moz-transition: color 0.8s;
    -ms-transition: color 0.8s;
    -o-transition: color 0.8s;
    transition: color 0.8s;
}

.logo a {
    display: inline-block;
}

.logo a div {
    display: inline-block;
    float: left;
}

nav {
    display: inline-block;
    float: right;
}

nav ul li {
    line-height: 70px;
}

nav ul li a {
    display: inline-block;
    line-height: 50px;
    padding: 10px 10px 5px 10px;
    margin-bottom: 5px;
    border-radius: 3px 3px;
}

.col-navbar {
    display: none;
}

.row-navbar {
    display: inline-block;
}

.designer {
    line-height: 70px;
}

.content-box a {
    box-shadow: 3px 3px 3px #AEA5A5;
}

.content-box {
    -webkit-transition: opacity 0.3s, top 1s;
    -moz-transition: opacity 0.3s, top 1s;
    -ms-transition: opacity 0.3s, top 1s;
    -o-transition: opacity 0.3s, top 1s;
    transition: opacity 0.3s, top 1s;
}

.study, .study:link, study:visited {
    color: #46b8da;
}

.study:hover {
    background: #46b8da;
    color: white;
}

.blog, .blog:link, .blog:visited {
    background: #67b168;
    color: white;
}

.blog:hover {
    background: #67b168;
    color: white;
}

.about, .about:link, .about:visited {
    color: orchid;
}

.about:hover {
    background: orchid;
    color: white;
}
.about,.blog,.study{
    width: 8.5em;
    text-align: center;
}
.fa {
    color: inherit;
}

.navbar-section {
    float: right;
    width: auto;
}

.navbar-section div {
    background-color: white;
    border-radius: 5px 5px;
    text-align: center;
}

.column {
    padding-top: 15px;
    border-bottom: 1px black solid;
}

.column ul {
    float: right;
    margin: 0;
}

.column ul li {
    padding: 0;
}

.column ul li a {
    font-size: 20px;
    display: block;
    line-height: 50px;
    padding: 0 10px 0 15px;
    border-radius: 50% 50% 0 0;
    border: 1px transparent solid;
}

a.color-study {
    color: #46b8da;
}

a.color-journal {
    color: rgb(255, 121, 244);
}

a.color-music {
    color: red;
}

a.color-process {
    color: green;
}

.column ul li a.color-total:hover {
    background-color: lightgoldenrodyellow;
}

.column ul li a.color-total.classify-active {
    background-color: lightgoldenrodyellow;
}

.column ul li a.color-music:hover {
    color: white;
    background-color: red;
}

.column ul li a.color-music.classify-active {
    color: white;
    background-color: red;
}

.column ul li a.color-journal:hover {
    color: white;
    background-color: rgb(255, 121, 244);
}

.column ul li a.color-journal.classify-active {
    color: white;
    background-color: rgb(255, 121, 244);
}

.column ul li a.color-study:hover {
    color: white;
    background-color: #46b8da;
}

.column ul li a.color-study.classify-active {
    color: white;
    background-color: #46b8da;
}

.column ul li a.color-process:hover {
    color: white;
    background-color: #67b168;
}

.column ul li a.color-process.classify-active {
    color: white;
    background-color: #67b168;
}

.content-box a {
    background-color: #fff;
    padding: 0 20px;
    display: block;
    margin: 0 10px;
    border: 1px whitesmoke solid;
}

.content-box a:hover {
    color: #6DCE9A;
}

.content-box h1 {
    color: inherit;
}

.content-box p, .content-footer {
    color: #4C4C4C;
}

.content-box img {
    width: 100%;
}

.content-box {
    margin-top: 25px;
    float: left;
    width: 33%;
}

.content-box:nth-child(3n+1) {
    clear: both;
}

.pic-wrapper {
    margin: 0 -20px;
}

.navbar-section div {
    padding: 0 12px;
}

#icon-menu-list li, #icon-menu-list li a {
    display: block;
    width: 100%;
    text-align: center;
}

#icon-menu-list {

    width: 100%;
    text-align: center;
    height:0px;
    overflow: hidden;
    -webkit-transition: height 0.4s;
    -moz-transition: height 0.4s;
    -ms-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
}

#icon-menu-list li a {
    padding:10px 0;
    border-radius: 5px 5px;
    font-size: 2em;
}

#icon-menu-list li {
    padding:  0;
    background-color: #d9edf7;
    border-radius: 5px 5px;
}

.logo ul li a {
    background-color: white;
}
.footer{
    margin-top: 10px;
    background-color: #D6D6D6;
}
.footer .container div{
    font-size: 1.5em;
    text-align: center;
    margin: 0.5em auto;
}
@media only screen and (max-width: 1280px) {
    .content-box:nth-child(3n+1) {
        clear: both;
    }

    /*.content-box:nth-child(2n+1) {*/
    /*clear: none;*/
    /*}*/

    .content-box {
        margin-top: 25px;
        float: left;
        width: 33%;
    }

    .col-navbar {
        display: none;
    }

    .row-navbar {
        display: inline-block;
    }
}

@media only screen and (max-width: 950px) {
    .column {
        display: none;
    }

    .content-box:nth-child(3n+1) {
        clear: none;
    }

    .content-box:nth-child(2n+1) {
        clear: both;
    }

    .content-box {
        margin-top: 25px;
        float: left;
        width: 49%;
    }

    .col-navbar {
        display: inline-block;
    }

    .row-navbar {
        display: none;
    }

    .wrapper {
        padding-right: 20px;
        margin: 10px;
        width: 100%;
    }
}

@media only screen and (max-width: 520px) {
    #newArticleForm{
        top:-13em;
    }
    .newArticleFieldset{
        width:100%;
    }
    #article-content{
        height:4em;
    }

    .column {
        display: none;
    }

    .content-box:nth-child(3n+1) {
        clear: both;
    }

    .content-box:nth-child(2n+1) {
        clear: both;
    }

    .content-box {
        margin-top: 25px;
        float: left;
        width: 100%;
    }

    .content {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .logo {
        display: inline-block;
    }

    li {
        display: block;
    }

    .col-navbar {
        display: inline-block;
    }

    .row-navbar {
        display: none;
    }

    .wrapper {
        padding-right: 20px;
        margin: 10px;
        width: 100%;
    }
}

